/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
  background-color: #2b2d24;
  font-family: 'Amatic SC', cursive;
  font-weight: 500;
  font-size: 20px;
}

h4 {
  font-family: 'Amatic SC', cursive;
  font-size: 24px;
  font-weight: 700;
}

.top-bar, .top-bar ul {
  color: white;
  background-color: #2b2d24;
}

.top-bar a {
  color: white;
}

.top-bar {
  border-bottom: solid 0px #1E2019; 
}

#monster-tile {
  background-color: #525c47;
  color: white;
  border: solid 5px rgb(32, 32, 32);
}

#monster-title {
  color: white;
}
