@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
  background-color: #263823;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 20px;
}

h4, h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  color: white;
  font-weight: 700;
}

h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  color: white;
  font-weight: 700;
  text-align: center;
}

.flash-notice, .flash-alert {
  color: white;
  text-align: center;
  font-size: 2.0rem;
}

a {
  color: white;
}

a:hover {
  transition: .75s;
  color: #bc2e1e;
  text-shadow:
    0 1px 0px black,
    1px 0 0px black,
    1px 2px 1px black,
    2px 1px 1px black,
    2px 3px 2px black,
    3px 2px 2px black,
    3px 4px 2px black;
}

label {
  font-size: 1.25rem;
  font-weight: 700;
  color: white;
}

.field, .actions, h2 {
  margin-left: 3rem;
  width: 60%;
  color: white;
  font-family: 'Amatic SC', cursive;
  font-weight: 900;
}

.rounder {
  border: solid 1px white;
  border-radius: 5px;
}

ul li {
  color: white;
  margin-left: 3rem;
  font-weight: 900;
}

.monster-show {
  margin-left: 2.0rem;
}

.review-tile {
  margin-right: 3.0rem;
}