@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
  background-color: #263823;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 20px;
}

h4, h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  color: white;
  font-weight: 700;
}

.flash-notice, .flash-alert {
  color: white;
  text-align: center;
  font-size: 2.0rem;
}

a {
  text-decoration: underline;
  color: white;
}

a:hover {
  color: black;
  transition: 0.5s;
}


