@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

body {
  background-color: #263823;
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  font-size: 20px;
}

h4, h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 32px;
  color: white;
  font-weight: 700;
}

.flash-notice, .flash-alert {
  color: white;
  text-align: center;
  font-size: 2.0rem;
}

a {
  color: white;
}

a:hover {
  transition: 1s;
  color: #bc2e1e;
  text-shadow:
    0 1px 0px black,
    1px 0 0px black,
    1px 2px 1px black,
    2px 1px 1px black,
    2px 3px 2px black,
    3px 2px 2px black,
    3px 4px 2px black,
}